---
layout: default
---

<h2>{{ page.title }}</h2>

{% include page-intro.html %}

{{ content }}

<section>

 <!-- <h3>Posts</h3> --->

<ul>
    {% for post in site.posts %}
    <li>
    <a href="{{ post.url }}">

    {% assign foundImage = 0 %}
      {% assign images = post.content | split:"<img " %}
      {% for image in images %}
        {% if image contains 'src' %}

            {% if foundImage == 0 %}
                {% assign html = image | split:"/>" | first %}
                <img {{ html }} />
                {% assign foundImage = 1 %}
            {% endif %}
        {% endif %}
      {% endfor %}

      <!--- {{ post.title }} --> </a>
    </li>
    {% endfor %}
</ul>
    
   <!--- {% for post in site.posts %}
    {% assign author = site.data.authors[post.author] %}
      <li>
        <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
        <time datetime="{{ post.date }}">
          <small>
            <strong>{{ post.date | date_to_string }}</strong>
            {% if author %}
              by {{ author.name }}
            {% endif %}
          </small>
        </time>
        {{ post.excerpt | strip_newlines | truncate: 180 }}
      </li>
    {% endfor %} --->


</section>


<div id="specx" class="row" style="display: flex;">
   <div class="column">
      <img src="/assets/img/uploads/image_12.jpg"  class="img-responsive" alt="" padding="2">
   </div>
   <div class="column">
      <img src="/assets/img/uploads/image_22.jpg"  class="img-responsive" alt="" padding="2">
   </div>
</div>
<!--- <div id="specx"  class="row">
   <div class="column">
      <h3><i>STRATEGY</i></h3>
   </div>
   <div class="column">
      <h3><i>RETENTION</i></h3>
   </div>
</div> --->

