---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">

  {% include head.html %}

  <body>
    
    
  

    {% include header.html %}
    
    
    {% if page.url == "/" %}
    <style> header {background-color: transparent !important; } </style>
    <video id="video" style="width:100% !important; margin-top:-180px !important; z-index:-9999 !important; " muted="" autoplay="" loop="">
    <source src="https://res.cloudinary.com/dmqz4lmkn/video/upload/v1575527126/y2mate.com_-_filmmaking_showreel_sampath_kumar_r_a_ud0hUKASi7k_1080p_hsoarc.mp4" type="video/mp4">
    </video>
    {% endif %}


    <main>
      
    
      {{ content }}

    </main>

    {% if page.url == "/" %}
      <div class="w3-content w3-display-container">
        <img class="mySlides" src="https://res.cloudinary.com/madrasbox/image/upload/v1578588499/clapper_ff_hneobu.webp" style="width:100%">
        <img class="mySlides" src="https://res.cloudinary.com/madrasbox/image/upload/v1578588499/one_193_gtcujf.webp" style="width:100%">
        <img class="mySlides" src="https://res.cloudinary.com/madrasbox/image/upload/v1578588499/two_193_otolxy.webp" style="width:100%">
        <img class="mySlides" src="https://res.cloudinary.com/madrasbox/image/upload/v1578588499/three_193_ltfcct.webp" style="width:100%">
      </div>
    {% endif %}
    
    
    {% include footer.html %}

  </body>
  
  
</html>
