---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">

  {% include head.html %}

  <body>
    
    
  

    {% include header.html %}
    
    
    {% if page.url == "/" %}
    
    <center>
    
    
    <style> 
      header {z-index: 9999 !important;  background-color: transparent !important; } 
      header>h1 { content:url('/assets/img/uploads/plain.png') !important; }
    </style>
    <video id="video" style="width:100% !important; margin-top:-180px !important; z-index:-9999 !important; " muted="" autoplay="" loop="">
    <source src="https://res.cloudinary.com/madrasbox/video/upload/v1578669088/Trim_2-13-2019_112557_AM-1_axkylc.mp4" type="video/mp4">
    </video>
    <div class="containerx">  <!---- style="margin-top: 50px;"> ---> 
      <center>
        <p style="color: #000;font-size: 100px; text-transform: uppercase; transform: rotate(-20deg) skew(-20deg); background-color: transparent; font-family: 'Gill Sans MT' !important; font-weight:bold;"><span style="background-color: black; color: #fff;">AUTO</span><span style="background-color: black; color: red;">ZPA</span> </p> 
        <p style="font-size: 40px; text-transform: uppercase; transform: rotate(-20deg) skew(-20deg); background-color: transparent; opacity: 1; font-family: 'Gill Sans MT' !important; line-height:1.2;"> INDIA'S FASTEST GROWING <br /><span style="line-height:1;background-color: white; color: black; position:relative; z-index:9999;">CAR-CLEANING</span> FRANCHISE
        </p>
      </center>
      </div> 
    </center>
    {% endif %}
    <!--- https://media.publit.io/file/AUTOZPA/Trim_2-13-2019_112557_AM-1.mp4 --->
                                                                                                                                                                                                                                                                     
    
    
    <main>
      
    
      {{ content }}

    </main>

    {% if page.url == "/" %}
                         
                         
      <!----- <h2 class="w3-center">-</h2> - --->

    <div class="w3-content w3-display-container">
      <img class="mySlides" src="https://res.cloudinary.com/dw4k14rp7/image/upload/c_crop,h_500,w_1333/v1552616629/RedPorscheFix_copy.webp" style="width:100%" onerror=this.src="https://res.cloudinary.com/dw4k14rp7/image/upload/c_crop,h_500,w_1333/v1552616629/RedPorscheFix_copy.png">
      <img class="mySlides" src="https://res.cloudinary.com/dw4k14rp7/image/upload/v1552616622/Banner2.webp" style="width:100%" onerror=this.src="https://res.cloudinary.com/dw4k14rp7/image/upload/v1552616622/Banner2.png">
      <img class="mySlides" src="https://res.cloudinary.com/dw4k14rp7/image/upload/v1552616621/Banner1.webp" style="width:100%" onerror=this.src="https://res.cloudinary.com/dw4k14rp7/image/upload/v1552616621/Banner1.png">
      <img class="mySlides" src="https://res.cloudinary.com/dw4k14rp7/image/upload/c_crop,h_500,w_1333/v1552684906/abt-banner.webp" style="width:100%" onerror=this.src="https://res.cloudinary.com/dw4k14rp7/image/upload/c_crop,h_500,w_1333/v1552684906/abt-banner.png">
      <img class="mySlides" src="https://res.cloudinary.com/dw4k14rp7/image/upload/c_crop,h_500,w_1333/v1552684906/services.webp" style="width:100%" onerror=this.src="https://res.cloudinary.com/dw4k14rp7/image/upload/c_crop,h_500,w_1333/v1552684906/services.png">
      <img class="mySlides" src="https://res.cloudinary.com/dw4k14rp7/image/upload/c_crop,h_500,w_1333/v1552969636/pexels-photo-168938.webp" style="width:100%" alt="autozpa1" onerror=this.src="https://res.cloudinary.com/dw4k14rp7/image/upload/c_crop,h_500,w_1333/v1552969636/pexels-photo-168938.png">
      <img class="mySlides" src="https://res.cloudinary.com/dw4k14rp7/image/upload/c_crop,h_500,w_1333/v1552969636/pexels-photo-325680.webp" style="width:100%" alt="autozpa2" onerror=this.src="https://res.cloudinary.com/dw4k14rp7/image/upload/c_crop,h_500,w_1333/v1552969636/pexels-photo-325680.png">
      <img class="mySlides" src="https://res.cloudinary.com/dw4k14rp7/image/upload/c_crop,h_500,w_1333/v1552969629/rollsInterior_copy.webp" style="width:100%" alt="autozpa3" onerror=this.src="https://res.cloudinary.com/dw4k14rp7/image/upload/c_crop,h_500,w_1333/v1552969629/rollsInterior_copy.png">
      <img class="mySlides" src="https://res.cloudinary.com/dw4k14rp7/image/upload/c_crop,h_500,w_1333/v1552969624/SLIDE04.webp" style="width:100%" alt="autozpa4" onerror=this.src="https://res.cloudinary.com/dw4k14rp7/image/upload/c_crop,h_500,w_1333/v1552969624/SLIDE04.png">
      <img class="mySlides" src="https://res.cloudinary.com/dw4k14rp7/image/upload/c_crop,h_500,w_1333/v1552969621/slider1.webp" style="width:100%" alt="autozpa5" onerror=this.src="https://res.cloudinary.com/dw4k14rp7/image/upload/c_crop,h_500,w_1333/v1552969621/slider1.png">

    </div>
    <script src="/assets/custom_2020JAN.js"></script>
    {% endif %}
    
    
    {% include footer.html %}

  </body>
  
  
</html>
