---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">

  {% include head.html %}

  <body>
    
    
  

    {% include header.html %}
    
    
    {% if page.url == "/" %}
    <style> header {background-color: transparent !important; } </style>
    <video id="video" style="width:100% !important; margin-top:-180px !important; z-index:-9999 !important; " muted="" autoplay="" loop="">
    <source src="https://res.cloudinary.com/dmqz4lmkn/video/upload/v1575527126/y2mate.com_-_filmmaking_showreel_sampath_kumar_r_a_ud0hUKASi7k_1080p_hsoarc.mp4" type="video/mp4">
    </video>
    {% endif %}


    <main>
      
    
      {{ content }}

    </main>

    {% if page.url == "/" %}
    <div class="w3-content w3-display-container">
    <img class="mySlides" src="https://res.cloudinary.com/dw4k14rp7/image/upload/c_crop,h_500,w_1333/v1552616629/RedPorscheFix_copy.webp" style="width:100%">
    <img class="mySlides" src="https://res.cloudinary.com/dw4k14rp7/image/upload/v1552616622/Banner2.webp" style="width:100%">
    <img class="mySlides" src="https://res.cloudinary.com/dw4k14rp7/image/upload/v1552616621/Banner1.webp" style="width:100%">
    <img class="mySlides" src="https://res.cloudinary.com/dw4k14rp7/image/upload/c_crop,h_500,w_1333/v1552684906/abt-banner.webp" style="width:100%">
    <img class="mySlides" src="https://res.cloudinary.com/dw4k14rp7/image/upload/c_crop,h_500,w_1333/v1552684906/services.webp" style="width:100%">
    <img class="mySlides" src="https://res.cloudinary.com/dw4k14rp7/image/upload/c_crop,h_500,w_1333/v1552969636/pexels-photo-168938.jpg" style="width:100%" alt="autozpa1">
    <img class="mySlides" src="https://res.cloudinary.com/dw4k14rp7/image/upload/c_crop,h_500,w_1333/v1552969636/pexels-photo-325680.jpg" style="width:100%" alt="autozpa2">
    <img class="mySlides" src="https://res.cloudinary.com/dw4k14rp7/image/upload/c_crop,h_500,w_1333/v1552969629/rollsInterior_copy.jpg" style="width:100%" alt="autozpa3">
    <img class="mySlides" src="https://res.cloudinary.com/dw4k14rp7/image/upload/c_crop,h_500,w_1333/v1552969624/SLIDE04.jpg" style="width:100%" alt="autozpa4">
    <img class="mySlides" src="https://res.cloudinary.com/dw4k14rp7/image/upload/c_crop,h_500,w_1333/v1552969621/slider1.jpg" style="width:100%" alt="autozpa5">
    </div>

    {% endif %}


    
    
    {% include footer.html %}

  </body>
  
  <script>
  var myIndex = 0;
  carousel();

  function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
  x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 2000);
  }
  </script>

</html>
