---
layout: default
---
 
        <video id="video" style="width:100% !important;" muted="" autoplay="" loop="">
<source src="https://res.cloudinary.com/dmqz4lmkn/video/upload/v1575527126/y2mate.com_-_filmmaking_showreel_sampath_kumar_r_a_ud0hUKASi7k_1080p_hsoarc.mp4" type="video/mp4"></video>



<h2>{{ page.title }}</h2>

  {% include page-intro.html %}

  {{ content }}

  <section>

    <h3>Recent posts from the blog</h3>

    <ul>
      {% for post in site.posts limit:3 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

  </section>
